@import "./reset.css";
@import "./global.css";
body {
    width: 1280px;
    margin: 0 auto;
}
header{
    padding: 60px 0 45px 0;

}

.homepage {
    text-decoration: none;
    font-family: sans-serif;
    color: #4bcaff;
    font-size: 64px;
    margin-bottom: 51px;
}

.text-coloring {
    color: #000000;
}

.top-menu {
    background-color: #35444f;
    height: 60px;
    text-align: center;
    margin-bottom: 51px;
}

.top-menu ul {
    display: inline-block;
}

.top-menu li {
    font-size: 20px;
    padding: 18px 60px 22px 60px;
    float: left;
}

.top-menu li:hover {
    background-color: #222f3a;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181 ;
}

.top-menu-link {
    color: #e4e6e8;
    text-decoration: none;
}


.left-menu {
    width: 340px;
    float: left;
    border: 1px solid #35444f;
    font-size: 25px;
}

.left-menu-item {
    padding: 30px 0 29px 44px;
}

.left-menu-item:hover {
    background-color: #dbdbdb;
    display: block;
    padding-left: 63px;
}

.left-menu-link {
    text-decoration: none;
    color: #495863;
}

.left-menu-link:hover {
    color: #000000;
}

.image-wrap {
    width: 885px;
    height: 529px;
    float: right;
    border: 1px solid #35444f;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.image {
    margin: 0 auto;
}

.image:hover {
    transition: all 0.8s ease-out;
    transform: scale(1.2);
}

.text-block {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
    width: 815px;
    margin: 0 180px 0 440px;
}

.first-p {
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
    padding-bottom: 30px;
}

.second-p {
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
    padding-bottom: 30px;

}

footer {
    width: 1280px;
    height: 69px;
    background: #b4b7ba;
    margin-bottom: 50px;
}

.footer-menu-item {
    display: inline;
    font-size: 24px;
    float: left;
    margin: 22px 0 21px 44px;
}

.footer-menu-link {
    text-decoration: none;
    color: #0c1927;
}

.footer-menu-link:hover {
    color: #3a85a7;
    text-decoration: underline;
}

.footer-menu-rights {
    float: right;
    margin: 25px 34px 21px 0;
}













